block vars
    - var title ="Sunset III";

doctype html
html
    head
        meta(name='csrf-token', content=csrftoken)
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title #{title}

        link(rel='stylesheet' href=mix('/css/core/app.css'))
        block styles

        script(defer src=mix('/js/core/app.js'))
        block scripts
body
    section#app
        div
            nav.navbar
                .container
                    .navbar-brand
                        a.navbar-item
                            img(src='images/logo.png' alt='SunSet Logo')
                        span.navbar-burger.burger(data-target='navbarMenuHero1')
                            span
                            span
                            span
                    #navbarMenuHero1.navbar-menu
                        .navbar-end
                            a.navbar-item.is-active(href=Router.routePath('home.index', { name: "John Doe" }))
                                | Home
                            a.navbar-item(href="#")
                                | About

        .hero.is-fullheight-with-navbar
            .hero-body
                .container.has-text-centered
                    block content
            .hero-foot
                nav.tabs
                    .container
                        ul
                            //- li.is-active
                                a Home
                            li
                                a About
